html, body{
    background-color: #ffffff;
    color: #636b6f;
    font-family:"微软雅黑";
    font-size:16px;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
body *{
    padding:0;
    margin: 0;
}
div p{
    margin:0 0;
}
body>div{
    width: 1000px;
    margin:0 0;
}
/*重置bootstrap的col-*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

/*顶部公司图标样式*/
.logo-part{
    width:1000px;
    margin:0 auto;
}
.logo-part *{
    margin:0;
    padding:0;
}
div.logo{
    height:90px;
    line-height: 90px;
}
div.logo span.logo-text{
    color:#007e5c;
    font-size:20px;
    font-weight:bold;
}
div.logo div.logo-right{
    text-align: right;
    line-height: 90px;
    height:90px;
}
div.logo div.logo-right>img{
    position: absolute;
    top:25px;
    display:inline-block;
    line-height: 90px;
    vertical-align: middle;
    margin:0 0;
}
div.logo div.logo-right div.phone-info{
    margin-left: 60px;
    display:inline-block;
    height:90px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
}
div.logo div.logo-right div.phone-info p.phone-text{
    border-bottom: dotted;
}

/*菜单导航栏部分*/
.nav-menus{
    width:100%;
    height:50px;
    line-height: 50px;
    background-color:#007e5c;
    color:white;
    margin-top:5px;
    font-size: 16px;
}
.nav-menus>div.menus-part{
    width:1000px;
    height:50px;
    line-height: 50px;
    margin:0 auto;
}
.nav-menus>div.menus-part>ul.menus-list{
    list-style: none;
}
.nav-menus>div.menus-part>ul.menus-list>li.menus-item{
    float:left;
    width:120px;
    height:50px;
    text-align: center;
}
.nav-menus>div.menus-part>ul.menus-list>li.menus-item>a{
    display:block;
    width:120px;
    height:50px;
    color:white;
    text-decoration: none;
}
.nav-menus>div.menus-part>ul.menus-list>li.menus-item>a:hover{
    text-decoration: none;
    color:#2be2e1;
    background-color: #006549;
}
.nav-menus>div.menus-part>ul.menus-list>li.menus-item>a:active{
    text-decoration: none;
    color:#2be2e1;
    background-color: #006549;
}
.nav-menus>div.menus-part>ul.menus-list>li.menus-item>a.active{
    text-decoration: none;
    color:#2be2e1;
    background-color: #006549;
}

/*轮播图部分*/
div.nav{
    width:100%;
}

/*主页面部分*/
/*标题行样式*/
div.head-text{
    height:50px;
    line-height: 50px;
    width:1000px;
    margin:20px auto;
}
/*标题行样式*/
div.head-text-newsList{
    height:50px;
    line-height: 50px;
    width:1000px;
    margin:0 auto;
}
div.head-text-min-left{
    height:50px;
    line-height: 50px;
    width:480px;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
div.head-text-min-right{
    height:50px;
    line-height: 50px;
    width:480px;
    margin:0;
    padding:0;
    margin-left: 20px;
    margin-bottom:20px;
}
div.head-text>div.little-rectangle{
    width:12px;
    height:50px;
    background-color: #007d5b;
    display: inline-block;
}
div.head-text>div.head-info{
    line-height: 30px;
    margin-left:5px;
    display: inline-block;
}
div.head-text>div.head-info>.head-name{
    font-size: 18px;
    font-weight: bold;
}
div.head-text>a{
    display:block;
    float:right;
}
div.head-text>a>img{
    width:30px;
    height:30px;
}

/*指南部分*/
.guide-part{
    width: 1000px;
    margin:0 auto;
    color: white;
    font-size: 18px;
    margin-top:50px;
}
.guide-part .guide-item{
    display:inline-block;
}
.guide-part .guide-item .guide-item-container{
    margin:50px 100px;
    display:inline-block;
}
.guide-part .guide-item .guide-item-container>a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.guide-part .guide-item .guide-item-container>a>img{
    width:110px;
    height:110px;
}
.guide-part .guide-item .guide-item-container>a>p.guide-text{
    text-align: center;
    height:60px;
    line-height: 60px;
}

/*科室部分*/
div.dept-part{
    width:1000px;
    margin:0 auto;
}
div.dept-item{
    display: inline-block;
    width:19.3333%;
    color:white;
    text-align: center;
    margin-left: 0;
}
div.dept-item>.dept-info{
    width:100%;
    height:190px;
    text-align: center;
    padding-top:25px;
    letter-spacing:3px;
}
div.dept-item>.dept-info>.dept-desc{
    float:left;
    width:30%;
    font-size: 18px;
    writing-mode: vertical-rl;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
    writing-mode: tb-rl;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
    margin:0 auto;
    padding-right: 15px;
}
div.dept-item>.dept-info>.dept-name{
    float: left;
    width:40%;
    border-left:1px solid #ffffff;
    font-size: 18px;
    font-weight: bold;
    writing-mode: vertical-rl;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
    writing-mode: tb-rl;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
    margin:0 auto;
    padding-right: 25px;
}
div.dept-item>img{
    width:100%;
    height:auto;
}


/*专家专题部分*/
.team-part{
    width:1000px;
    margin:0 auto;
    color:#333333;
    margin-top: 25px;
}
.team-part div.button-info{
    margin-top: 40px;
    height:30px;
    line-height: 30px;
    text-align: center;
}
div.button-info>button{
    font-size: 18px;
    margin-right:20px;
}
div.button-info>button.btn-info{
    background-color:#5ba8d4;
}
.teamList-button>button.btn-success{
    background-color:#007e5c;
}
.team-part>.team-info{
    padding-right:20px;
}
.team-img img{
    padding:10px;
    background-color: white;
    box-shadow:0 0 10px #dbdbdb;
    -moz-box-shadow:0 0 10px #dbdbdb;
    -o-box-shadow:0 0 10px #dbdbdb;
    -webkit-box-shadow:0 0 10px #dbdbdb;
}
/*暂时没有用到
.team-part div.button-info button{
    margin-right: 20px;
}
.team-part>.team-info{
    line-height: 40px;
}
.team-part>.team-info>p{
    line-height: 40px;
    height:40px;
}
div.team-info>p>.expert-name{
    font-size: 18px;
    font-weight: bold;
    margin:10px 0;
}
div.team-info>p>.expert-position{
    font-size: 18px;
}
div.team-info>.head-tag{
    color: white;
    text-align: center;
    width:100px;
    height:30px;
    line-height: 30px;
    font-size: 16px;
    background-color: #d59058;
}
*/
div.team-list>.expert-item{
    width:200px;
    padding:10px;
    background-color: white;
    box-shadow:0 0 10px #dbdbdb;
    -moz-box-shadow:0 0 10px #dbdbdb;
    -o-box-shadow:0 0 10px #dbdbdb;
    -webkit-box-shadow:0 0 10px #dbdbdb;
}

div.team-list>.expert-item>.expert-info{
    height:60px;
    line-height: 30px;
    text-align: center;
    background-color: #ededed;
}
div.team-list>.expert-item>.expert-info>p{
    height:30px;
    line-height: 30px;
    font-size: 18px;
}
div.team-list>.expert-item>.expert-info>p.expert-name{
    color:#333333;
    font-size: 18px;
}
.expert-name .expert-position{
    color:#666666;
    font-size: 18px;
}
.expert-name .expert-subname{
    color:#666666;
    font-size: 18px;
}

/*套餐样式*/
div.main>div.goods-part{
    width:1000px;
    margin:0 auto;
}
div.main>div.goods-part>div.goods-item{
    padding:10px;
}
div.main>div.goods-part>div.goods-item>div.goods-img{
    width:100%;
    text-align: center;
    border-left:1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
}
div.main>div.goods-part>div.goods-item>div.goods-info{
    height:60px;
    line-height: 30px;
    padding-left: 30px;
    border-left:1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
div.main>div.goods-part>div.goods-item>div.goods-info{
    font-size: 18px;
    font-weight: bold;
}
div.main>div.goods-part>div.goods-item>div.goods-info>p>span.goods-price{
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
}

/*首页-医院公告、医院动态部分样式*/
div.news-part{
    width: 1000px;
    margin:0 auto;
}
div.news-info>div.news-list{
    line-height: 50px;
    padding:0 20px;
}
.left-news{
    width:480px;
    text-align: left;
    box-shadow:0 0 15px #dbdbdb;
    -moz-box-shadow:0 0 15px #dbdbdb;
    -o-box-shadow:0 0 15px #dbdbdb;
    -webkit-box-shadow:0 0 15px #dbdbdb;
}
.right-news{
    margin-left:40px;
    width:480px;
    text-align: left;
    box-shadow:0 0 15px #dbdbdb;
    -moz-box-shadow:0 0 15px #dbdbdb;
    -o-box-shadow:0 0 15px #dbdbdb;
    -webkit-box-shadow:0 0 15px #dbdbdb;
}
.news-item{
    height:50px;
    line-height:50px;
    border-bottom: 1px solid #EAEAEA;
}
.news-item .news-name{
    color:#000000;
    font-size: 16px;
}
.news-item .news-date{
    color:#999999;
    font-size: 16px;
}
.news-item .news-date-container{
    text-align: center;
}

/*底部样式*/
div.footer{
    width:100%;
    background-color: black;
    color: #888888;
    margin-top: 90px;
}
div.footer>div.footer-content {
    width: 1000px;
    margin:0 auto;
    padding:20px;
}
div.footer-content{
    line-height: 50px;
}
div.footer-content p.nav-header{
    font-size: 18px;
    color:white;
}
div.footer-content *{
    margin: 0 0;
    padding:0 0;
}
div.footer-content div.qrcode-part{
    text-align: right;
}
div.footer-content div.qrcode-info{
    padding-top:20px;
    width:150px;
    height:200px;
}
div.footer-content p.qrcode_text{
    text-align: center;
}
div.footer-content ul.nav-menu li{
    list-style-type:none;
}
div.footer-content ul.nav-company-info li{
    list-style: none;
}
div.footer-content ul.nav-menu li a,div.footer-content ul.nav-company-info li a{
    color: #888888;
    text-decoration: none;
}
div.footer-content ul.nav-company-info li img{
    margin-right:15px;
}
div.footer div.footer-copyright{
    text-align: center;
}

/*专家列表样式*/
.main>.teamList-part{
    width:1000px;
    margin:0 auto;
    margin-top:40px;
}
.main .teamList-item{
    margin-bottom: 40px;
    padding:0 15px;
}
.main>.teamList-part img{
    width:330px;
    padding:10px;
    background-color:white;
    box-shadow:5px 5px 30px #dbdbdb;
    -moz-box-shadow: 5px 5px 30px #dbdbdb;
    -o-box-shadow: 5px 5px 30px #dbdbdb;
    -webkit-box-shadow: 5px 5px 30px #dbdbdb;
    transition:all 0.6s;
}
.main>.teamList-part img:hover{
    transform: scale(1.1);
    z-index: 2;
}
.teamList-head>span.teamList-name{
    font-size: 30px;
    color: #333333;
}
.teamList-head>span.teamList-subname{
    font-size: 24px;
    color: #676767;
}
.teamList-desc{
    margin-top:20px;
}
.teamList-desc p{
    font-size: 16px;
    color: #666666;
    height:30px;
    line-height: 30px;
}
.teamList-tag{
    margin-top:20px;
    font-size: 18px;
    color:white;
    background-color: #d59058;
    line-height: 35px;
    height:35px;
    width:128px;
    text-align: center;
}
.teamList-goodat{
    margin-top:20px;
    font-size: 16px;
    color:#333333;
}
.teamList-button{
    margin-top: 40px;
    height:30px;
    line-height: 30px;
}
.teamList-button>button{
    font-size: 18px;
    margin-right:20px;
}
.teamList-button>button.btn-info{
    background-color:#5ba8d4;
}
.teamList-button>button.btn-success{
    background-color:#007e5c;
}

/*专家详情*/
.main>.teamDetail-part{
    width:1000px;
    margin:0 auto;
    border:1px solid #eaeaea;
    padding:40px 30px;
    border-radius: 5px;
}
.main .teamList-item{
    margin-bottom: 40px;
}
.main>.teamDetail-part img{
    width:320px;
    padding:10px;
    background-color:white;
    box-shadow:5px 5px 30px #dbdbdb;
}

/*页面位置信息*/
 .address-notice{
     color: #333333;
     font-size: 16px;
     height:90px;
     line-height: 90px;
     width:1000px;
     margin:0 auto;
 }

 /*医院动态列表样式*/
 .newsList-item{
     padding:40px 15px;
     border-bottom: 1px solid #EAEAEA;
 }
.newsList-head{
    font-size: 24px;
    color:#000000;
}
.newsList-desc{
    font-size: 16px;
    color:#333333;
    line-height: 30px;
    margin-top: 20px;
}
.newsList-more a,.newsList-more a:active,.newsList-more a:hover{
    font-size: 16px;
    color:#007e5c;
    line-height: 30px;
    text-decoration: none;
    font-style: italic;
}
.newsList-time{
    padding-top:10px;
    text-align: right;
    font-size: 18px;
    color:#999999;
}
.newsList-right{
    margin-left: -40px;
}
/*医院动态详情样式*/
.newsList-part{
    width:1000px;
    margin:0 auto;
}
.newsDetail-part{
    width:1000px;
    margin:0 auto;
    border:1px solid #eaeaea;
    padding:40px 30px;
    border-radius: 5px;
}
.newsDetail-name{
    font-size: 30px;
    color:#333333;
    height:50px;
    line-height: 50px;
    text-align: center;
}
.newsDetail-info{
    font-size: 18px;
    color:#666666;
    height:40px;
    line-height: 40px;
    text-align: center;
}
.newsDetail-info-tag{
    font-size: 18px;
    color:#555555;
}
.newsdetail-content{
    color:#333333;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 30px 0;
}
.newsdetail-content-text{
    text-align: left;
}

/*医院公告列表样式*/
.noticeList-part{
    width:1000px;
    margin:0 auto;
}
 .noticeList-item{
     height:60px;
     line-height: 60px;
     border-bottom: 1px solid #EAEAEA;
     vertical-align: center;
 }
.noticeList-icon{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:#007e5c;
    line-height: 60px;
}
.noticeList-text{
    font-size: 18px;
    color:#222222;
}
.noticeList-time{
    text-align: right;
    font-size: 18px;
    color:#666666;
}


/*服务指南-自主咨询样式*/
 .hospital-intro{
     width:1000px;
     margin:0 auto;
     position:relative;
 }
.hospital-top{
    position:absolute;
    width:100%;
    left:0;
    top:60px;
    background-color: rgba(0,0,0,0.5);
    line-height: 32px;
    font-size: 16px;
    color:#FFFFFF;
    text-indent: 40px;
    padding:40px 40px 0;
}
.hospital-top p{
    margin-bottom: 40px;
}

.question-part{
    width:1000px;
    margin:0 auto;
}
.question-type{
    height:30px;
    line-height: 30px;
    font-size: 20px;
    color:#333333;
    list-style: none;
}
.question-type>li{
    text-align: center;
    width:180px;
    display:inline-block;
    height:30px;
    line-height: 30px;
    border-right:1px solid #EAEAEA;
}
.question-type>li.question-type-active{
    color:#007e5c;
}
.question-type>li>a,.question-type>li>a:active,.question-type>li>a:hover{
    color:#333333;
    text-decoration: none;
}
ul.questionList{
    margin-top:20px;
    box-shadow:0 0 10px #dbdbdb;
    -moz-box-shadow:0 0 10px #dbdbdb;
    -o-box-shadow:0 0 10px #dbdbdb;
    -webkit-box-shadow:0 0 10px #dbdbdb;
    padding:0 20px;
}
li.question-item{
    padding:5px 10px;
    line-height:50px;
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
}
.question-icon{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:#007e5c;
    line-height: 50px;
    margin-right:20px;
}
.question-icon-q{
    color:#007e5c;
}
.question-icon-a{
    color:#f86f16;
    padding-left: 30px;
}
.question-q{
    color:#333333;
    font-size:18px;
    line-height: 50px;
}
.question-a{
    color:#333333;
    font-size:18px;
    line-height: 50px;
}

/*服务指南-联系我们样式*/
.contact-us{
    width:1000px;
    margin:0 auto;
    color:#333333;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    margin-bottom: 160px;
}
.contact-us-header{
    color:#333333;
    font-size: 24px;
    margin:30px 0 50px;
}
.ditu-container{
    width:600px;
    height:320px;
    background-color:#FFFFFF;
    padding:10px;
    box-shadow:0 0 5px #dbdbdb;
    -moz-box-shadow:0 0 5px #dbdbdb;
    -o-box-shadow:0 0 5px #dbdbdb;
    -webkit-box-shadow:0 0 5px #dbdbdb;
    position: absolute;
    right:0;
}
#dituContent{
    width:580px;
    height:300px;
}